h1 {
  color: green;
  text-align: center;
}

.trainconsole {
    display: grid;
    grid-template-columns: 410px 475px 1fr;
    grid-template-rows: 550px 350px;
    grid-gap: 2px;
	border-radius: 10px;
	background-color: #5d6366;
}


.trainconsole {
	border: 1px solid #fff;
	}

.speed {
    margin-top: 20px;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    text-align: center;
}

.speedcontrol {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.reverser {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}


.emergency {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    text-align: center;
}

.autostop {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}


.speed {
    position: relative;
    top: 0;
    left: 0;
}

.speedometer-dial {
    position: relative;
    top: 0;
    left: 0;
    border: 0px;
}

.speedometer-pointer {
    position: absolute;
    top: 0;
    left: 0;
    border: 0px;
}
